.header {
    background-color: #fff !important;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    flex: 1;
  }
  
  .logo img {
    width: 150px;
    height: auto;
  }
  
  .categories {
    flex: 2;
    display: flex;
    justify-content: space-between;
  }
  
  .categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .categories ul li {
    margin-right: 20px;
  }
  
  .categories ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .user-actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .user-actions ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .user-actions ul li {
    margin-right: 20px;
  }
  
  .user-actions ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
  }
  
  .user-actions ul li a i {
    margin-right: 5px;
  }



  .gradient-banner {
    background: linear-gradient(to right, #333, #e74c3c);
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.gradient-banner h2 {
    margin: 0;
    font-size: 24px;
}
.gradient-banner p {
    margin: 0;
    font-size: 16px;
}
.gradient-banner a {
    color: white;
    font-weight: bold;
}


